//Name: Maritza Campoverde
//Email: Maritza.Campoverde20@myhunter.cuny.edu
//Date: November 17, 2020
//A program that writes a C++ program that prints "Hello, World!" on one line and "Hello Hunter College!" on a new line.


// Your First C++ Program

#include <iostream>
using namespace std;

int main() 
{
  cout << "Hello World!\n";
  cout <<"Hello Hunter College! \n";
  return 0;
}
